{% extends 'base.html.twig' %}

{% block title %}Manual index{% endblock %}

{% block body %}
    <h1>Manual index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manual in manuals %}
            <tr>
                <td>{{ manual.id }}</td>
                <td>{{ manual.name }}</td>
                <td class="td-actions">
                    <a href="{{ path('manual_show', {'id': manual.id}) }}">show</a>
                    <a href="{{ path('manual_edit', {'id': manual.id}) }}">edit</a>

                    {{ include('manual/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('manual_new') }}">Create new</a>
{% endblock %}
