<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# the CSS file lives at "public/css/style.css" #}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    </head>
<body>

<header>
    <h1>Hello  ! </h1>
    <div>
        {% if app.user %}
        <div>
            You are logged in as {{ app.user.username }}
        </div>
        <div>
            You can
             <a href="{{ path('product_index') }}">Access the site</a>
            or 
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>

        {% elseif app.user == null %}
            <div>
                You are not logged !
            </div>
            <div>
                To access the site, you can
                <a href="{{ path('app_login') }}">login</a>
                or 
                <a href="{{ path('app_register') }}">register</a>
            </div>
        {% endif %}

    </div>
</header>


{% block body %}{% endblock %}


</body>
