{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
        <header>
        <h1>Category index</h1>
        <div>
            <a href="{{ path('category_new') }}">Create new</a>
        </div>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>

                <td class="td-actions">
                    <button class="btn-round btn-show btn-min"> <a href="{{ path('category_show', {'id': category.id}) }}">show</a></button>

                    <button class="btn-round btn-edit btn-min"><a href="{{ path('category_edit', {'id': category.id}) }}">edit</a></button>

                    {{ include('category/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
