{{ form_start(form) }}
    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'product_edit' %}
        <div class="attachments">
            <h2>Attachments</h2>
            {% if product.manual != null %}
                <h3>Manual</h3>
                <div>
                    <a href="{{ asset('uploads/' ~  product.manual.name ) }}" onclick="window.open(this.href); return false;">{{ product.manual }}</a>
                    {# lien pour supprimer le manual (sera géré en Ajax) #}
                    {# <a href="{{ path('product_delete_manual', {id: product.manual.id})}}" data-delete data-token="{{ csrf_token('delete' ~ product.manual.id ) }}">Delete</a> #}
                </div>
            {% endif %}

            {% if product.receipt != null %}
                <h3>Receipt</h3>
                <div>
                    <a href="{{ asset('uploads/' ~  product.receipt.name ) }}" onclick="window.open(this.href); return false;">{{ product.receipt }}</a>
                    {# lien pour supprimer le receipt (sera géré en Ajax) #}
                    {# <a href="{{ path('product_delete_receipt', {id: product.receipt.id})}}" data-delete data-token="{{ csrf_token('delete' ~ product.receipt.id ) }}">Delete</a> #}
                </div>
            {% endif %}
        <div>
    {% endif %}
    <button class="btn btn-round">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
