{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <header>
        <h1>Product index</h1>
        <div>
            <a href="{{ path('product_new') }}">Create new</a>
        </div>
    </header>

        {# {% if error is defined %}
        <div>ERROR: {{ error }} </div>
        {% endif %} #}
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
                    <tr class="tr-order">
                    {# <td>{{ product.id }}</td> #}
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'name', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'name', 'order': 'DESC'}) }}">v</a></button>
                    </td>
                    <td>
                    {# <button class='btn-order'><a href="{{ path('product_order', {'field': 'category', 'order': 'DESC'}) }}">^</a></button> #}
                    </td>
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'ref', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'ref', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'price', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'price', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'advice', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'advice', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'purchase_date', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'purchase_date', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'warranty_end_purchase', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'warranty_end_purchase', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td>

                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'manual', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'manual', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'receipt', 'order': 'ASC'}) }}">^</a></button>
                        <button class='btn-order'><a href="{{ path('product_order', {'field': 'receipt', 'order': 'DESC'}) }}"> v </a></button>
                    </td>
                    <td></td>
                <tr>
                    {# <th>Id</th> #}
                    <th>Name</th>
                    <th>Categories</th>
                    <th>Ref</th>
                    <th>Price</th>
                    <th>Advice</th>
                    <th>Purchase date</th>
                    <th>Warranty end</th>
                    <th>Manual</th>
                    <th>Receipt</th>

                    <th>actions</th>
                </tr>

                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    {# <td>{{ product.id }}</td> #}
                    <td>{{ product.name }}</td>
                    <td>
                        <ul>
                            {% for cat in product.category %}
                                <li>{{ cat }}</li>
                            {% endfor %}
                        </ul>
                    </td>

                    <td>{{ product.ref }}</td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.advice }}</td>
                    <td>{{ product.purchaseDate ? product.purchaseDate|date('Y-m-d') : '' }}</td>
                    <td>{{ product.warrantyEndPurchase ? product.warrantyEndPurchase|date('Y-m-d') : '' }}</td>
                    {# <td>{{ product.manual }}</td> #}

                    <td>
                        {% if product.manual != null %}
                            <a href="{{ asset('uploads/' ~  product.manual.name ) }}" onclick="window.open(this.href); return false;">{{ product.manual.name }}</a>
                        {% endif %}
                    </td>
                    {# <td>{{ product.receipt }}</td> #}
                    <td>
                        {% if product.receipt != null %}
                            <a href="{{ asset('uploads/' ~  product.receipt.name ) }}" onclick="window.open(this.href); return false;">
                                <img src="{{ asset('uploads/' ~  product.receipt.name ) }}" alt="" width="50px" height="auto" >
                            </a>
                        {% endif %}
                    </td>

                    <td class="td-actions">
                        <button class="btn-round btn-show btn-min"><a href="{{ path('product_show', {'id': product.id}) }}">show</a></button>

                        <button class="btn-round btn-edit btn-min"><a href="{{ path('product_edit', {'id': product.id}) }}">edit</a></button>

                        {{ include('product/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
