<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('product_index') }}">Products index</a>
            <a href="{{ path('category_index') }}">Categories index</a>
            <a href="{{ path('receipt_index') }}">Receipt index</a>
            <a href="{{ path('manual_index') }}">Images index</a>
        <header>

<hr>
        {% block body %}{% endblock %}
    </body>
</html>
